<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>controladorGuardarItem</servlet-name>
        <servlet-class>controladores.controladorGuardarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorContestarItems</servlet-name>
        <servlet-class>controladores.controladorContestarItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorAgregarCursoCategoria</servlet-name>
        <servlet-class>controladores.controladorAgregarCursoCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorGuardarItem</servlet-name>
        <url-pattern>/controladorGuardarItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorContestarItems</servlet-name>
        <url-pattern>/controladorContestarItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorAgregarCursoCategoria</servlet-name>
        <url-pattern>/controladorAgregarCursoCategoria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
